<h1>Listing users</h1>

<table>
  <thead>
    Share Space
    <tr>
      <th>Facebook</th>
      <th>Google</th>
      <th>Twitter</th>
      <th></th>
      <th></th>
      <th></th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="button"></div>
      </td>
      <td>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <g:plusone size="medium" annotation="none">
        </g:plusone>
      </td>

      <td>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none" data-size="medium">Tweet</a>
      </td>
    </tr>
  </tbody>

<br></br>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.login %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
